{% extends 'index.html' %}
{% load static %}
{% block javascript %}
<script src="{% static 'sneakers.js' %}"></script>
<script src="{% static 'shopping.js' %}"></script>
{% endblock javascript %}
{% block content %}{% endblock content %}
{%block main%}
	</div>
</div>
<div class="product-main">
	<div class="wrap">
		<div class="container">
			<div class="card">
				<div class="sneaker">
					<div class="circle"></div>
					<img src="{%static 'images/adidas1.png'%}" alt="adidas">
				</div>
				<div class="info">
					<h1 class="title">Adidas ZX</h1>
					<h3>FUTURE-READY TRAINERS WITH WRAPPED BOOST FOR EXCEPTION COMFORT.</h3>
					<div class="sizes">
						<button>39</button>
						<button>40</button>
						<button class="active">42</button>
						<button>44</button>
					</div>
					<div class="purchase">
						<button>purchase</button>
					</div>
				</div>
			</div>
		</div>
	</div>
   </div>
  </div>
{% endblock main %}