{% extends 'index.html' %}
<div class="product-main">
	<div class="wrap">
		 <div class="products-top">
			<div class="grid_1_of_4 images_1_of_4">
				<a href="images/pic4.jpg" class="swipebox" title="Image Title"> <img src="images/pic4.jpg" alt=""><span class="zoom-icon"></span> </a>
				<h4>Aenean nonummy hendrerit</h4>
				<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
				<a href="#" class="link">Read More</a>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="images/pic5.jpg" class="swipebox" title="Image Title"> <img src="images/pic5.jpg" alt=""><span class="zoom-icon"></span> </a>
				<h4>Aenean nonummy hendrerit</h4>
				<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
				<a href="#" class="link">Read More</a>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="images/pic6.jpg" class="swipebox" title="Image Title"> <img src="images/pic6.jpg" alt=""><span class="zoom-icon"></span> </a>
				<h4>Aenean nonummy hendrerit</h4>
				<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
				<a href="#" class="link">Read More</a>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="images/pic7.jpg" class="swipebox" title="Image Title"> <img src="images/pic7.jpg" alt=""><span class="zoom-icon"></span> </a>
				<h4>Aenean nonummy hendrerit</h4>
				<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
				<a href="#" class="link">Read More</a>
			</div>
			<div class="clear"></div> 
	   </div>
	   <div class="products-top">
		   <div class="grid_1_of_4 images_1_of_4">
			  <a href="images/pic8.jpg" class="swipebox" title="Image Title"> <img src="images/pic8.jpg" alt=""><span class="zoom-icon"></span> </a>
			  <h4>Aenean nonummy hendrerit</h4>
			  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
			  <a href="#" class="link">Read More</a>
		   </div>
		   <div class="grid_1_of_4 images_1_of_4">
			  <a href="images/pic9.jpg" class="swipebox" title="Image Title"> <img src="images/pic9.jpg" alt=""><span class="zoom-icon"></span> </a>
			  <h4>Aenean nonummy hendrerit</h4>
			  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
			  <a href="#" class="link">Read More</a>
		   </div>
		   <div class="grid_1_of_4 images_1_of_4">
			  <a href="images/pic10.jpg" class="swipebox" title="Image Title"> <img src="images/pic10.jpg" alt=""><span class="zoom-icon"></span> </a>
			  <h4>Aenean nonummy hendrerit</h4>
			  <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
			  <a href="#" class="link">Read More</a>
		  </div>
		  <div class="grid_1_of_4 images_1_of_4">
			 <a href="images/pic11.jpg" class="swipebox" title="Image Title"> <img src="images/pic11.jpg" alt=""><span class="zoom-icon"></span> </a>
			 <h4>Aenean nonummy hendrerit</h4>
			 <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta hendrerit mauris..</p>
			 <a href="#" class="link">Read More</a>
		 </div>
		<div class="clear"></div> 
	</div>
   </div>
  </div>
